{% extends "base.html" %}
{% block title %}Гостевая книга{% endblock %}
{% block content %}
<main>
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Гостевая книга</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Что Вы думаете о моем сайте?</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="{{ url_for('add_to_guestbook') }}" type="button" class="btn btn-outline-warning btn-lg gap-3">Добавить комменатрий</a>
            </div>
        </div>
    </div>
    <div class="container">
        {% for post in posts %}
        <div class="card mb-2">
            <div class="card-header">
                <div class="row">
                    <div class="col-10">
                        {{ post.name }}
                    </div>
                    <div class="col-2">
                        {{ post.updated_on }}
                    </div>
                </div>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>{{ post.text }}</p>
                </blockquote>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}